/* Write your CSS here */
.listItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-color: #7e858e;
  border-style: solid;
  border-width: 1px;
  border-color: #7e858e;
  height: 7vh;
}

.para2 {
  width: 8vw;
  font-size: 1em;
  font-family: Roboto;
  text-align: left;
  font-weight: 500;
  color: #334155;
  color: #475569;
  margin-left: 1vw;
}

.deleteButton {
  height: 5vh;
  border: none;
  background-color: transparent;
}

.deleteIcon {
  height: 4vh;
  padding-right: 2vw;
}
